
body {
    background-color: black;
    margin: 50px;
    text-align: center;
    color: white;
  }
  
  img {
    width: 500px;
  }
  
  ul {
    text-align: left !important;
  }
  
  a:hover {
    text-decoration: none;
  }
  